<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t3hh4xx0r.lifelock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.t3hh4xx0r.lifelock.UberApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.t3hh4xx0r.lifelock.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.t3hh4xx0r.lifelock.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name="com.t3hh4xx0r.lifelock.services.OnOffListenerService" />
        <service android:name="com.t3hh4xx0r.lifelock.services.TimerDrawerService" />

        <activity
            android:name="com.t3hh4xx0r.lifelock.activities.UserStatsActivity"
            android:label="@string/title_activity_user_stats" >
        </activity>
        <activity
            android:name="com.t3hh4xx0r.lifelock.activities.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.t3hh4xx0r.lifelock.activities.UsageDetailsActivity"
            android:label="@string/title_activity_usage_details" >
        </activity>
    </application>

</manifest>